* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image:url(../imagenes/fondowebazul.jpg); /* Nuestra imagen de fondo */
	background-repeat:no-repeat; /* Indicamos que no se repetira */
	background-size:cover; /* Encajamos la imagen al 100% del ancho */
	background-attachment: fixed; /* Establecemos una posicion fija para la imagen */
}

#Barra{
	background-image: url(../imagenes/barradenavegacion.jpg);
	background-size: cover;

  }

  #navbar{
	  font-family: BENGUIATGOTHICSTD-MEDIUM;
	  font-weight: bold;
  }

  footer {
	background: #000000;
  }
/* index*/
.inde-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-shrink: 0;
	margin: 20px;
	border: 1px;
	border-radius: 15px;
	padding: 20px, 20px;
	background-color: rgba(237, 114, 0, 0.7);
	
}
.inde-description{
	margin: 1px;
	border: 1px;
	border-radius: 15px;
	padding: 20px;
	max-width: 550px;

	
}
.inde-description-texto{
	text-align: justify;
}

/* Contacto */

.info-row{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
}

.info-trigger{
}

.info-col{
	border-left-width: 10px;
	border-color: aliceblue;
	border-radius: 10px;
	margin: 10px;
	padding: 20px;

}

.info-trigger .info-col:hover{
	color:	greenyellow;
	background-color: rgba(44, 68, 1,0.7);

}
/* /Contacto */

/* Portafolio */
  #carouselContainer {
      padding-top: 20px;
  }


  #callback-output {
      color:white;
  }
  h2 {
      color: white;
  }

  #carousel {
      width:740px;
      height:450px;
      clear:both;
      overflow:hidden;
  }

  #carousel img {
      visibility:hidden; /* hide images until carousel can handle them */
      cursor:pointer; /* otherwise it's not as obvious items can be clicked */
      overflow: hidden;
      width: auto;
      height: auto;
  }

/* /Portafolio */  

/* Proyectos */
.project-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-shrink: 0;
	margin: 20px;
	border: 1px;
	border-radius: 15px;
	padding: 20px, 20px;
	background-color: rgba(237, 75, 0, 0.7);
	
}
.project-description{
	margin: 1px;
	border: 1px;
	border-radius: 15px;
	padding: 20px;
	max-width: 550px;

	
}
.project-description-texto{
	text-align: justify;
}

.project-picture{
	max-height: 100%;
	max-width: 3000px;
	margin: 1px;
	padding: 10px 10px;	
}
img {
	max-width:100%;
	border-radius: 15px;
}
/* /Proyectos */